//====================================================================================================
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	transition: all 0.3s ease 0s;
	background: $blackColor;
	@include adaptiveValue('padding-top', 30, 15);
	@include adaptiveValue('padding-bottom', 30, 15);
	&__container {
		display: flex;
		align-items: center;
		@media (max-width: $tablet) {
			justify-content: space-between;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 12px;
		z-index: 50;
		@include adaptiveValue('padding-right', 15, 10);
		@media (min-width: em(1300)) {
			flex: 0 0 200px;
		}
	}

	&__search {
		@media (min-width: $tablet) {
			flex: 1 1 auto;
		}
		input {
			&::placeholder {
				color: #6d799c;
			}
		}
	}
	&__actions {
		display: flex;
		gap: 8px;
	}
}


.menu {
	display: flex;
	@media (min-width: $tablet) {
		flex: 1 1 auto;
	}
	align-items: center;
	justify-self: flex-end;
	justify-content: space-between;
	@include adaptiveValue('gap', 20, 10);
	// .menu__icon
	&__icon {
	}
	// .menu__body
	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			top: 0;
			left: -100%;
			transition: all 0.3s ease 0s;
			overflow: auto;
			background-color: #1b2327;
			gap: toRem(30);
			@include adaptiveValue('padding-top', 180, 120, 768, 320, 2);
			padding-left: toRem(15);
			padding-right: toRem(15);
			padding-bottom: toRem(30);
			&::before {
				content: '';
				position: fixed;
				top: 0;
				left: -100%;
				transition: all 0.3s ease 0s;
				width: 100%;
				background-color: #141a1d;
				z-index: 2;
				@include adaptiveValue('height', 80, 75, 768, 320);
			}
			.menu-open & {
				left: 0;
				&::before {
					left: 0;
				}
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		row-gap: toRem(10);
		@include adaptiveValue('column-gap', 32, 15, 1, 1920, 900);
		@media (max-width: $tablet) {
			flex-direction: column;
			text-align: center;
			row-gap: toRem(30);
		}
	}
	// .menu__item
	&__item {
		@extend %a;
		@extend %link1;
		color: $mainColor;
		@media (max-width: $tablet) {
			padding: 40px 0;
		}
	}
	// .menu__link
	&__link {
		@media (max-width: $tablet) {
			font-size: toRem(40);
			color: #fff;
		}
	}
}
//====================================================================================================

.logo-text {
	@media (max-width: em(1300)) {
		display: none;
	}
}
.line {
	@include adaptiveValue('padding-left', 36, 10, 2, 1600, 1300);
	@include adaptiveValue('padding-right', 36, 20, 2, 1600, 1300);
	@media (max-width: 1300px) {
		display: none;
	}
}
