:root {
	/* Colors */
	--black: #08090b;
	--white: #fff;
	--blue: #66CBF9;

	/* Nav */
	// --nav-bg: var(--black);
	// --nav-border: var(--black-border);
	--nav-text: var(--white);

	/* Header */
	--header-bg: #0a0a0b;
	--header-bg-mobile: #141a1d;
	--header-bg-slat: #141a1d;
	--header-text: var(--white);

	// Body
	/* Footer */
	--footer-bg: var(--dupont);
	--footer-text: var(--white);

	/* Light mode */
	--section: var(--black);
}
