@use 'sass:math';
@import './base/variables.scss';
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #111;
}

::-webkit-scrollbar-thumb {
	background: var(--blue);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue);
}

.title {
	color: $titleColor;
	font-weight: 465;
	&.--48 {
		line-height: math.div(64, 48);
		@include adaptiveValue('font-size', 48, 32);
	}
	&.--72 {
		line-height: math.div(80, 72);
		@include adaptiveValue('font-size', 72, 32);
	}
}

.section {
}
.page__intro {
	background: var(--section);
}
.intro {
	position: relative;
	&__container {
		@include adaptiveValue('padding-top', 80, 60);
	}
	&__content {
		display: flex;

		@media (min-width: 1300px) {
			gap: 33px;
		}
		@media (max-width: em(1300)) {
			flex-direction: column-reverse;
			text-align: center;
		}
	}
	&__body {
		position: relative;
		@media (min-width: 1300px) {
			flex: 1 0 700px;
		}
		@media (max-width: em(1300)) {
					overflow-x: hidden;
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			@include adaptiveValue('padding-bottom', 50, 30);
		}
		@media (min-width: em(1300)) {
			@include adaptiveValue('padding-top', 180, 50);
		}
	}
	&__button {
		@include adaptiveValue('margin-bottom', 25, 15);
	}
	&__email {
	}
	&__image {
		@include adaptiveValue('padding-top', 80, 100);

		@media (max-width: 1300px) {
			@include adaptiveValue('padding-bottom', 50, 30);
			img {
				max-width: 100%;
			}
		}
	}
	&__title {
		max-width: totoRem(700);
	}
}

.intro__title {
}

.intro__light_1 {
}
.intro__light_2 {
}

.icons-main-block {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	// .icons-main-block__item
	&__item {
		overflow-x: hidden;
		img {
			max-width: 100%;
		}
		z-index: 50;
		position: absolute;

		// .icons-main-block__item_1
		&_1 {
			top: percent(50, 374);
			left: 0;
		}
		// .icons-main-block__item_2
		&_2 {
			top: percent(70, 374);
			right: 0;
		}
		&_1,
		&_2 {
			@media (max-width: em(1300)) {
				top: 0;
			}
		}
	}
}
