.button {
	display: flex;
	position: relative;
	padding: 10px 24px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	border-radius: 6px;
	align-items: center;

	@media (max-width: 767.98px) {
		padding: 10px;
		font-size: 16px;
	}
	&.dezentralized {
		padding: 8px 12px;
		box-shadow: 0 -1px 0 #1e2844;
		background: radial-gradient(107.69% 100% at 50% 0%, #131a2e 0%, #111624 100%);
		@media (max-width: 1300px) {
			width: 100%;
		}
	}
	&.gray,
	&.blue {
		transition: all 0.3s;
	}
	&.gray {
		color: #cee7ff;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
		background: radial-gradient(100.04% 100% at 50% 0%, rgb(38, 49, 78) 0%, rgb(30, 37, 60) 100%);
		@media (any-hover: hover) {
			&:hover {
				background: #f94b55;
				color: #08090b;
			}
		}
	}
	&.blue {
		color: #08090b;
		box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
		background: radial-gradient(
			100.04% 100% at 50% 0%,
			rgb(102, 203, 249) 0%,
			rgb(15, 181, 255) 100%
		);
		@media (any-hover: hover) {
			&:hover {
				background: #58f0a7;
			}
		}
	}
}
